$main-font: 'Lato', sans-serif;
$other-font:'Raleway', sans-serif;
$font-color: #fff;
$text-color: #000;
$font-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 400;
$color-bg: #fff;


/** Grid variables **/
$container-width: 1200px;
$col-padding: 15px;
